.header {
    background-color: black;
    padding-bottom: 30px;
    &-start {
        text-align: end;
        padding-top: 10px;
        &__link {
            &:hover {
                color: #009DD9;
            }
            color: #FFFFFF;
            font-size: 20px;
            &--margin {
                margin-left: 20px;
            }
        }
    }
    &-main {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &-logo {
        font-size: 20px;
        color: #FFFFFF;
        &__img {
            margin-right: 40px;
        }
    }
    &-nav {
        &__list {
            @include flex;
        }
        &__link {
            font-size: 20px;
            color: #FFFFFF;
            margin-right: 40px;
            &:hover {
                color: #009DD9;
            }
        }
        &__search {
            color: #FFFFFF;
        }
    }
    &-end {
        background-color: #1F1F1F;
        padding: 25px 0;
        &__list {
            @include flex;
            justify-content: center;
        }
        &__link {
            margin: 0 25px;
            font-size: 20px;
            color: #898989;
            border-bottom: 2px solid transparent;
            padding-bottom: 23px;
            &:focus {
                border-bottom: 2px solid #FFFFFF;
                color: #FFFFFF;
            }
            &:hover {
                transition: all 0.5s ease-in-out;
                color: #FFFFFF;
            }
        }
    }
}
label {
    display: none;
}
.fa-bars {
    display: none;
    color: #FFFFFF;
    font-size: 20px;
}
#checkbox {
    visibility: hidden;
}
.modal {
    @include flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
    transform: translateY(-800px);
    transition: all 0.5s;
}
.mininavbar {
    color: #FFFFFF;
    font-size: 25px;
    margin-top: 25px;
    &:hover {
        color: #009DD9;
    }
}
input:checked ~ .modal {
    transform: translate(0);
}
@media only screen and(max-width: 1040px) {
    .container {
        max-width: 929px;
    }
    .header-start__link--none {
        display: none;
    }
    .header-nav__list {
        display: none;
    }
    .header-nav__search {
        display: inline-block;
    }
    label {
        display: block;
    }
    .fa-bars {
        display: block;
    }
}
@media only screen and(max-width:768px) {
    .container {
        max-width: 690px;
    }
    .header-end {
        display: none;
    }
}